body {
  margin: 0;
  height: auto;
  padding: 0 15px;
  font-size: 18px;
  line-height: 1.35;
}
.page-wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding-top: 1rem;
}

h1 {
  font-size: 28px;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 24px;
}

h2,
h3 {
  padding-bottom: 1rem;
}

h1 {
  color: #00137f;
}

h1 a {
  color: #00137f;
}

h2,
h3 {
  font-style: italic;
  color: #00137f;
}

a {
  text-decoration: none;
  color: #000;
}

a.main {
  display: inline-block;
  margin-bottom: 1rem;
}

a:hover {
  transition: all 0.35s ease;
  color: #f00;
}

a.main:hover {
  transition: all 0.35s ease;
  color: #000;
  text-decoration: underline;
}

.content-wrap {
  padding: 1rem 0;
  padding-left: 2rem;
  min-height: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 2rem 0;
  padding-left: 2rem;
  min-height: 50px;
  background-color: azure;
}
